:root {
  --white-color: #ffffff;
  --primary-color: #fafafa;
  --secondary-color: #4d96a9;
  --tertiary-color: #28283d;
  --quaternary-color: #855fb1;
  --paragraph-color: #87879d;
  --color-gradient: rgba(77, 151, 169, 0.9);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Red Hat Display";
  background-color: var(--primary-color);
}

ul {
  list-style: none;
}

picture {
  width: inherit;
  height: inherit;
}

source {
  width: inherit;
  height: inherit;
}

img {
  width: inherit;
  max-width: 100%;
  height: inherit;
  border-radius: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
